@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
body {
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    /*background-image: url('https://images.unsplash.com/photo-1547628641-ec2098bb5812?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
}

.container {

    background-color: whitesmoke;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;

}

.grid {
    
    background-color: whitesmoke;
}

button {

    padding: 10px;
    color: whitesmoke;
    background-color: black;
    border-width: 3px;
    border-radius: 5px;
    border: solid;
    border-color: black;
    font-weight: bold;
    transition-duration: 0.4s;

}

button:hover {

    background-color: whitesmoke;
    border: solid;
    border-color: black;
    border-width: 3px;
    color: black;
}

.button-container {

    padding-bottom:50px;
}



